doctype html
head
  title!= title
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='description', content=desc)
  meta(name='theme-color', content='#000')
  meta(name='google-signin-client_id', content='665566840894-f8j7n9dhtgp8hqvimoemhlj429pv3bh5.apps.googleusercontent.com')
  script(src='https://code.jquery.com/jquery-latest.min.js')
  link(href='https://fonts.googleapis.com/css?family=Roboto:400,700', rel='stylesheet')
  link(href='style.css', rel='stylesheet')
  link(rel="manifest", href="manifest.json")
  link(href='material.css', rel='stylesheet')
  script(src='flag.js')
  script(src='randomcolor.js')
  script(src='view.js')
  script(src='chat.js')
  script(src='country.js')
  if js
    script(src='/'+node+'.js')
  script(src='https://apis.google.com/js/platform.js', async, defer)
  script(src="https://www.google.com/recaptcha/api.js", async, defer)
  script.
    function onSignIn(googleUser) {
    var profile = googleUser.getBasicProfile();
    console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
    console.log('Name: ' + profile.getName());
    console.log('Image URL: ' + profile.getImageUrl());
    console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
    var id_token = googleUser.getAuthResponse().id_token;
    cl.glogin(id_token);
    }
    function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
    console.log('User signed out.');
    localStorage.clear();
    });
    }
  script.
    window.cookieconsent_options = {
    message: 'Diese Website nutzt Cookies, um bestmögliche Funktionalität bieten zu können.',
    dismiss: 'Ok, verstanden',
    learnMore: 'Mehr Infos',
    link: 'http://website-tutor.com/datenschutz',
    theme: 'dark-top'
   };
  script(type="text/javascript" src="//s3.amazonaws.com/valao-cloud/cookie-hinweis/script.js")

body
  .site-container
    .site-pusher
      header.header
        a#header__icon.header__icon(href='#')
        h1!= title
        //a.header__logo(href='#')!= title
        a.logout(href='#', onclick='signOut();') LOGOUT
        nav.menu
          a(href="/") HOME
        .g-signin2(data-onsuccess='onSignIn')
      .site-content
        .container
          #chat
          input#msginput(type='text', placeholder='message...', onkeydown='sendMsg(event,this)')
          .g-recaptcha(data-sitekey="6LcAYyYUAAAAAFPomjvRbs8LiYs1xgYVf94YA7YQ",data-callback="imNotARobot")
      #site-cache.site-cache
