*:focus  
{  
    outline: none;  
}  
*{
padding:0;
margin:0;
font-family: "Helvetica";
}
button{
padding:10px;
}
input{
border-radius: 20px;
padding:20px;
padding-right:-50px;
border-color:#fff;
background-color:#000;
color:#fff;
height:70px;
box-sizing : border-box;
font-size:24px;
}
#chat{
position:fixed;
margin-bottom:-300px;
height:calc(100% - 136px);
width:100%;
overflow-y:scroll;
}
.logout{
float:right;
}
#msginput{
margin:0px;
position:absolute;
bottom:0px;
width:100%;
}
.g-recaptcha{
margin:0px;
position:absolute;
bottom:0px;
width:100%;
margin-left: auto; 
margin-right: auto; 
display:none;
}
body{
background-color:#000;
color:#fff;
}
.name{
font-weight: bold;
}
.info{
display:inline;
float:right;
color:red;
}
.msgtext{
float:right;
}
.seen{
float:right;
color:#565AFA;
}
.msg{
padding:10px;
padding-bottom:15px;
}
.msg::after {
    content: "";
    display: table;
    clear: both;
}
canvas{
position:fixed;
pointer-events: none;
}
