<div class="header" id="header">
    <div class="rx_icon" id="rx_icon"></div>
    <div class="title" id="title">Drawer Example</div>
</div>
<div class="container">
    <div class="content">
        <h2>About this</h2>
        <p>This library contains <a href="https://material.google.com/patterns/navigation-drawer.html">Material Design Navigation Drawer</a> component that could be easily put in your site.</p>
        <p>You can move drawer with touch event :)</p>
        <p>Drawer perfectly worked on <b>Desktop</b> and <b>Mobile</b> devices.</p>
        <p>You can add any content to drawer. <b>Links</b> and <b>event</b>(onclick, etc.) working ok.</p>
        <p>Used Hamburger icon: <a href="http://www.materialup.com/posts/toolbar-back-arrow" target="_blank">Hamburger To Back Arrow</a></p>
        <p>More info see in GitHub: <a href="https://github.com/RadiationX/Material-Drawer" target="_blank">Material-Drawer</a></p>
        <sub>I set "float to right" to title and icon only for example :)</sub>
    </div>
</div>
<div class="drawer" id="drawer">
    <div class="content">
        <div class="header">
            <div class="avatar"></div>
            <div class="text">
                <div class="field name">Evgeny Nizamiev</div>
                <div class="field info">RadiationX</div>
            </div>
        </div>
        <ul class="menu">
            <li class="item">Menu Item 1</li>
            <li class="item">Menu Item 2</li>
            <li class="item">Menu Item 3</li>
            <li class="item">Menu Item 4</li>
            <li class="item">Menu Item 5</li>
            <li class="item subheader">Header</li>
            <li class="item">Menu Item 6</li>
            <li class="item">Menu Item 7</li>
            <li class="item">Menu Item 8</li>
            <li class="item">Menu Item 9</li>
            <li class="item">Menu Item 10</li>
            <li class="item">Menu Item 11</li>
            <li class="item">Menu Item 12</li>
            <li class="item">Menu Item 13</li>
            <li class="item">Menu Item 14</li>
            <li class="item subheader">Header</li>
            <li class="item">Menu Item 15</li>
            <li class="item">Menu Item 16</li>
            <li class="item">Menu Item 17</li>
            <li class="item">Menu Item 18</li>
            <li class="item">Menu Item 19</li>
            <li class="item">Menu Item 20</li>
        </ul>
    </div>
</div>

