*:focus  
{  
    outline: none;  
}  
*{
padding:0;
margin:0;
font-family: "Helvetica";
}
button{
padding:10px;
}
input{
border-radius: 20px;
padding:20px;
padding-right:-50px;
border-color:#fff;
background-color:#000;
color:#fff;
height:50px;
box-sizing : border-box;
font-size:24px;
}
#chat{
position:fixed;
height:90%;
width:100%;
overflow-y:scroll;
}
#msginput{
margin:0px;
position:absolute;
bottom:0px;
width:100%;
}
body{
background-color:#000;
color:#fff;
}
.name{
font-weight: bold;
}
.msgtext{
float:right;
}
.seen{
color:#565AFA;
}
.msg{
padding:10px;
}
.msg::after {
    content: "";
    display: table;
    clear: both;
}
canvas{
position:fixed;
pointer-events: none;
}
